@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --selection-color-light: rgb(127 217 229);  /* Teal for light mode */
  --selection-color-dark:  rgb(62 76 92);   /* Soft orange for dark mode */
}

html {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  line-height: 1.6;
}

.dark {
  color-scheme: dark;
}

p {
  margin-bottom: 0.8em;
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

::selection {
  background: var(--selection-color-light);
  color: inherit;
}

.dark ::selection {
  background: var(--selection-color-dark);
  color: inherit;
}